:root {
    --index: calc(1vw + 1vh);
  }

* {
    box-sizing: border-box;
}

// обнуляем браузерные стили
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: 1px solid #AFB4C0;
    border-radius: $border-radius-sm;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
}
a {
    cursor: pointer;
    text-decoration: none;
}

.hide-scroll {
    overflow: hidden;
    padding-right: 17px;
}

body {   
    font-family: 'Montserrat', Arial, sans-serif;
    // font-size: 14px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
    background-color:#e3f1e4;   
    min-width: 300px;
    overflow: auto;
}

