.app {
    /* text-align: center; */
    background-color: rgb(163, 223, 178);
    height: 100vh;
    width: 100vw;
    // padding: 50px;
    box-sizing: border-box;
}

.box {
    background-color: #fff;
    border-radius: 10px;
}

.draw {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    column-gap: 30px;
}

.indent-section {
    padding-left: calc(var(--index) * 1.2);
    padding-right: calc(var(--index) *1.5);
}

.app-draw {
    display: grid;
    grid-template-columns: .3fr .7fr;
    column-gap: calc(var(--index) * 0.9);
    height: 100% ;
    padding: calc(var(--index) *2) 0;
}

.tools {
    padding: 30px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) *2);
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) *1.1);
    }

    &__tools {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc(var(--index) *0.8);
    }

    &__setting {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__wrapper {
        display: flex;
        gap: calc(var(--index) *0.8);
    }
}

.button {
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


    &_active {
        border: 2px solid  rgb(163, 223, 178);
    }

    &:hover, &:active {
        border: 2px solid  rgb(163, 223, 178);
    }

    svg {
        width: 24px;
        height: 24px;
    }

    &_type {
        &_redo {
            transform: scale(-1, 1);
        }

        &_undo {}
    }
}

.button-text {
    padding: 10px 20px;
    border: 1px solid rgb(163, 223, 178);
    border-radius: 5px;
    background-color: rgb(163, 223, 178);
    width: 100%;

    &:hover {
        background-color: #fff;
    }
}

.canvas {
    width: 100%;
}

.input-box {
    display: flex;
    flex-direction: column;
gap: calc(var(--index) *0.3);
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    &__label {
        font-size: 16px;
        font-weight: 500;
    }

    &__option {
        font-size: 14px;
        font-weight: 500;
        &_type {
            &_color {}

            &_opasity {}

            &_weight {}
        }
    }
}

.input-color {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
}