$color-primery: #27AE60;
$color-secondary: #F5F5F5;

$color-main-text: #393534;
$color-text: #9A9A9A;
$color-border: #B0D3BF;

$color-blue: #55AFE2;
$color-light-blue: #a3d2ee;

$shadow: 5px 18px 40px 5px rgba(154, 154, 154, 0.20);