:root {
  --index: calc(1vw + 1vh);
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 1px solid #AFB4C0;
  border-radius: calc(var(--index) * 0.3);
  background-color: inherit;
  cursor: pointer;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.hide-scroll {
  overflow: hidden;
  padding-right: 17px;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #e3f1e4;
}

.page {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
  max-width: 1920px;
}

.main-container {
  flex: 1 0 auto;
  width: 100%;
  margin: 0 auto;
}

.scroll {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #27AE60 #F5F5F5;
}

.scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #27AE60;
  border-radius: calc(var(--index) * 0.6);
}

.scroll::-webkit-scrollbar-track {
  background: #F5F5F5;
  background-clip: content-box;
  border-radius: calc(var(--index) * 0.6);
  margin-top: 5px;
  margin-bottom: 5px;
}

.scroll::-webkit-scrollbar-button {
  padding: 10px;
  display: none;
}

.app {
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
}

.box {
  background-color: #ffffff;
  border-radius: calc(var(--index) * 0.6);
  box-shadow: 0px 18px 40px 0px rgba(154, 154, 154, 0.2);
}

.draw {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  column-gap: var(--index);
}

.indent-section {
  padding-left: calc(var(--index) * 1.5);
  padding-right: calc(var(--index) * 1.5);
}

.app-draw {
  display: grid;
  grid-template-columns: calc(var(--index) * 12) 1fr;
  column-gap: var(--index);
  height: 100%;
  padding: calc(var(--index) * 1.8) 0;
}

.image {
  overflow: hidden;
  position: relative;
}

.canvas {
  width: 100%;
  cursor: none;
}

.cursor {
  border-radius: 50%;
  border: 1px solid #393534;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

@media (max-width: 767px) {
  .app-draw {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: var(--index);
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Reg.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Med.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
}
.button {
  border-radius: calc(var(--index) * 0.3);
  height: calc(var(--index) * 1.8);
  width: calc(var(--index) * 1.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  font-size: calc(var(--index) * 0.5);
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
.button_tool {
  border: 1px solid #F5F5F5;
}
.button_tool:hover {
  border: 1px solid #27AE60;
}
.button svg {
  width: calc(var(--index) * 1.2);
  height: calc(var(--index) * 1.2);
}
.button_active {
  border: 1px solid #27AE60;
}
.button_active path {
  fill: #393534;
}
.button_type_redo {
  transform: scale(-1, 1);
  border: 1px solid #9A9A9A;
}
.button_type_redo path {
  fill: #9A9A9A;
}
.button_type_undo {
  border: 1px solid #9A9A9A;
}
.button_type_undo path {
  fill: #9A9A9A;
}
.button_type_save {
  align-self: flex-end;
}
.button_type_save svg {
  height: calc(var(--index) * 1.2);
  width: calc(var(--index) * 1.2);
}

.button-text {
  padding: calc(var(--index) * 0.9) calc(var(--index) * 1.1);
  border-radius: calc(var(--index) * 0.3);
  background: linear-gradient(180deg, #50BD7E 0%, #1CAB58 100%);
  border: none;
  width: 100%;
}
.button-text:hover {
  background: linear-gradient(180deg, #55AFE2 0%, #309EDC 100%);
}

.button-save {
  opacity: 0.3;
  cursor: auto;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-save_active {
  opacity: 1;
  cursor: pointer;
}

.button-action {
  cursor: auto;
  border-color: #dfdede;
}
.button-action path {
  fill: #dfdede;
}
.button-action_active {
  cursor: pointer;
  border-color: #27AE60;
}
.button-action_active path {
  fill: #27AE60;
}
.button-action_active:hover, .button-action_active:active {
  border-color: #27AE60;
}

.tools {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--index) * 1.5);
}
.tools__box {
  width: 100%;
}
.tools__container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * 1.5);
  padding: calc(var(--index) * 0.7);
}
.tools__header {
  background: linear-gradient(180deg, #50BD7E 0%, #1CAB58 100%);
  padding: calc(var(--index) * 0.7);
}
.tools__text {
  color: #ffffff;
  text-align: center;
  font-size: calc(var(--index) * 0.6);
  font-weight: 700;
  text-transform: uppercase;
}
.tools__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tools__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--index);
  width: 100%;
  padding-top: calc(var(--index) * 1.5);
}
.tools__inputs {
  display: flex;
  flex-direction: column;
  gap: var(--index);
}
.tools__tools {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--index) * 0.5);
}
.tools__setting {
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * 0.5);
  padding: calc(var(--index) * 0.7);
}
.tools__wrapper {
  display: flex;
  gap: calc(var(--index) * 0.5);
}

@media (max-width: 767px) {
  .tools {
    gap: 0;
  }
  .tools__inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .tools__setting {
    flex-direction: row;
  }
  .tools__buttons {
    padding-top: 0;
  }
  .tools__container {
    gap: var(--index);
  }
  .tools__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .tools__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .tools__inputs {
    grid-template-columns: 1fr;
  }
}
.input-box {
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * 0.5);
  box-shadow: 5px 18px 40px 5px rgba(154, 154, 154, 0.2);
  padding: calc(var(--index) * 0.8);
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s linear, opacity 0.2s linear;
  border-radius: calc(var(--index) * 0.3);
}
.input-box_hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}
.input-box__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--index) * 0.5);
}
.input-box__label {
  font-size: calc(var(--index) * 0.6);
  font-weight: 500;
}
.input-box__option {
  font-size: calc(var(--index) * 0.6);
  font-weight: 500;
}
.input-box .input-range,
.input-box .input-color {
  cursor: pointer;
}

.input-color {
  width: 100%;
  border: none;
  height: calc(var(--index) * 1.4);
  background-color: transparent;
  padding: 0;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: #a3d2ee;
  width: 100%;
  height: calc(var(--index) * 0.5);
  border-radius: calc(var(--index) * 0.3);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #55AFE2;
  opacity: 1;
  width: calc(var(--index) * 1.1);
  height: calc(var(--index) * 0.75);
  border-radius: calc(var(--index) * 0.3);
}
input[type=range]::-webkit-slider-thumb:active {
  background-color: #1993da;
}

@media (max-width: 767px) {
  .input-box {
    padding: calc(var(--index) * 0.6);
  }
  .input-box_type_color {
    gap: 0;
  }
}/*# sourceMappingURL=index.css.map */